{% extends 'adminbase.html' %}
{% load static %}
{% block content %}

<div id="content">
                <!-- <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown no-arrow" role="presentation">
                                <div class="nav-item dropdown no-arrow">
                                  <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">
                                    <span class="d-none d-lg-inline mr-2 text-gray-600 small">User Name</span>
                                    <img class="border rounded-circle img-profile" src="assets/img/avatars/avatar1.jpeg"></a>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">
                                      <a class="dropdown-item" role="presentation" href="#">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a></div>
                    </div>
                    </li>
                    </ul>
            </div>
            </nav> -->
            <div class="container-fluid">
                <h3 class="text-dark pt-4 mb-4"><strong>Registered Customers</strong></h3>
                <div class="card shadow" style="margin-bottom: 20px;">
                    <div class="card-header py-3"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 text-nowrap">
                                <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                  <label>
                                    List
                                    
                                </label>
                                </div>
                            </div>
                            </div>

                            <!-- searches -->
                            <div class="container">
                              <div class="row text-center">
                                <div class="col-md-12">
                                  <form action="{% url 'searchformanufacturer' %}">

                                    <div class="form-row">

                                      <div class="col-md-4 mb-3">
                                        <select name="checkvalue" class="form-control">
                                          <option selected="true" disabled="disabled">Operations Offered</option>
                                          {% for key,value in checkvalue_choices.items %}
                                          <option value="{{ key }}" >{{ value }}</option>
                                          {% endfor %}
                                        </select>
                                      </div>


                                      <div class="col-md-4 mb-3">
                                        <select name="status" class="form-control">
                                          <option selected="true" disabled="disabled">Status</option>
                                          {% for key,value in status_choices.items %}
                                          <option value="{{ key }}" >{{ value }}</option>
                                          {% endfor %}
                                        </select>
                                      </div>


                                      <div class="col-md-4 mb-3">
                                        <select class="form-control" name="resources">
                                          <option selected='true' disabled='disabled'>Select Resources</option>
                                          {% for key,value in resources_choices.items %}
                                          <option value="{{ key }}">{{ value }}</option>
                                          {% endfor %}
                                        </select>
                                      </div>

                                    </div>

                                    <div class="form-row">

                                      <div class="col-md-4 mb-3">
                                        <!-- <label> -->
                                          <input type="text" name='keywords' class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search by Company Name">
                                        <!-- </label> -->
                                      </div>

                                      <div class="col-md-4 mb-3">
                                        <!-- <label> -->
                                          <input type="text" name='code' class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search by Zip Code">
                                        <!-- </label> -->
                                      </div>

                                      <div class="col-md-4 mb-3">
                                        <!-- <label> -->
                                          <button class="btn-sm btn-block btn btn-primary" type="submit">Search</button>
                                        <!-- </label> -->
                                      </div>
                                    </div>

                                </form>
                              </div>
                            </div>
                          </div>



                        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                            {% if list %}
                            <table class="table dataTable my-0" id="dataTable">
                                <thead>
                                    <tr>

                                      <th>Company Name</th>
                                      <th>Zip Code</th>
                                      <th>Status</th>
                                      <th>Operations Offered</th>
                                      <th>Resources</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    {% for li in list %}
                                    <tr>

                                        <td>{{ li.company_name }}</td>
                                        <td>{{ li.code }} </td>
                                        <td>{{ li.status }} </td>
                                        <td>{{ li.checkvalue }} </td>
                                        <td>{{ li.resources }}</td>

                                    </tr>
                                    {% endfor %}


                                </tbody>

                                <tfoot>
                                    <tr></tr>
                                </tfoot>
                            </table>
                        </div>

                        {% else %}
                        <p class="pl-4"><strong>No Manufacturers Registered Yet !</strong></p>
                        {% endif %}




                        <div class="row">
                          <div class="col-md-6 align-self-center">
                              <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Total Entries : {{ count }}</p>
                          </div>
                          <div class="col-md-12">
                            {% if list.has_other_pages %}
                            <ul class="pagination">
                              {% if list.has_previous %}
                              <li class='page-item'>
                                <a href="?page={{list.previous_page_number}}" class='page-link'>
                                  &laquo;
                                </a>
                              </li>
                              {% else %}
                              <li class='page-item disabled'>
                                <a class='page-link'>&laquo;</a>
                              </li>
                              {% endif %}
                              {% for i in list.paginator.page_range %}
                              {% if list.number == i %}
                              <li class='page-item active'>
                                <a class='page-link'>{{i}}</a>
                              </li>
                              {% else %}
                              <li class='page-item'>
                                <a href="?page={{i}}" class='page-link'>{{i}}</a>
                              </li>
                              {% endif %}
                              {% endfor %}
                              {% if list.has_next %}
                              <li class='page-item'>
                                <a href="?page={{list.next_page_number}}" class='page-link'>
                                  &raquo;
                                </a>
                              </li>
                              {% else %}
                              <li class='page-item disabled'>
                                <a class='page-link'>&raquo;</a>
                              </li>
                              {% endif %}
                            </ul>
                            {% endif %}
                          </div>
                        </div>




                    </div>
                </div>
            </div>
        </div>
{% endblock %}
