{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="container-fluid" id='changer'>
  <h1 class="display-2" id='passcheck' style="font-family: Adamina, serif; font-size:50px;">Enter Your New Password </h1>
  <form class="card" method="post" style="font-family: Adamina, serif; padding: 20px; align: center">
    {% csrf_token %}
    {{ form }}
    <br>
    <button type="submit" class='btn btn-primary btn-block' name="button" style="width:200px ">Request for Reset</button>
  </form>
</div>



{% endblock %}
